@font-face{
    font-family: 'nickainley'; 
    src: url(fonts/Nickainley-Normal.otf);
}
.box{ 
    background-image: url(https://www.publicdomainpictures.net/pictures/220000/nahled/floral-pattern-background-752.jpg); 
    font-family: 'nickainley';
} 
@media only screen and (min-width:1px), (max-width:650px){
.sec{ 
    background-color: white; 
    border: transparent 3% solid; 
    border-radius: 15%;
    margin-right: auto;
    margin-left: auto; 
    width: 65%; 
    border: 15% black solid; 
    font-size: 4vw;
  }  
} 
@media only screen and (min-width:768px){ 
  .sec{ 
    background-color: gray; 
    position: relative; 
      border: transparent 1em solid; 
      border-radius: 5vh;
      margin-right: auto;
      margin-left: auto; 
      width: 50%;
      border: 5% black solid;
      font-size: 2vw;
    width: 75%;
    position: sticky;
  }  
} 

@media only screen and (min-width:1200px){ 
  .sec{ 
    background-color: white; 
    position: relative; 
      border: transparent 1em solid; 
      border-radius: 5%;
      margin-right: auto;
      margin-left: auto; 
      width: 75%; 
      border: 5% black solid;
      font-size: 2vw; 
    }  
  } 

h1{ 
    text-align: center; 
    color: purple; 
    text-shadow: gold 0.05em 0.05em; 
    position: sticky;
} 
.sec:active{ 
    opacity: 0.5; 
    transition: 3s;
}  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    border: 0.3em black solid; 
}
  
  li {
    float: inline-start;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  } 
.border{ 
  border: 1px black solid;
} 
p{ 
  background-color: black; 
  color: white; 
  border: 2px slateblue solid; 
  border-radius: 0.3em; 
  padding-right: auto; 
  padding-left: auto;
} 
ul:hover{ 
  color: black;
}
  li{ 

  color: black;
} 
li a:hover{ 
  color: black;
}